h1{
    text-align: center;
}
h4{
    text-align: center;
}
h3{
    justify-self: left;
}
h3:hover{
    cursor: pointer;
}
.namePlate{
    background-color: aqua;
}
.container{
    flex: content;
    flex-direction: column;
}
